<div id="RowGenerator" class="box box-default">

    <div class="box-header with-border">
        <h3 class="box-title">Generate Rows</h3>
    </div>

    <div class="box-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="rowgen_step_name" class="col-sm-2 control-label">Step Name</label>

                <div class="col-sm-5">
                    <input class="form-control" view-element="rowgen_step_name">
                </div>
            </div>
            <div class="form-group">
                <label for="rowgen_step_limit" class="col-sm-2 control-label">Limit</label>

                <div class="col-sm-5">
                    <input type="number" class="form-control" view-element="rowgen_step_limit">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input view-element="rowgen_never_ending" type="checkbox"> Never stop generating rows.
                        </label>
                    </div>
                </div>
            </div>

            <label>Rows:</label>
            <table class="table table-bordered">
                <tbody view-element="rowgenerator_table_body">

                </tbody>
            </table>
        </form>
    </div>

    <!-- /.box-body -->
    <div class="box-footer">
        <button view-click="controller.cancelClick()" type="submit" class="btn btn-default">Cancel</button>
        <button id="rowgen_submit" type="submit" class="btn bg-navy margin pull-right">Submit</button>
    </div>
    <!-- /.box-footer -->
</div>