<div id="Sequence" class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Add Sequence</h3>
    </div>

    <div class="box-body">
        <form view-element="sequence_form" class="form-horizontal">
            <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Step Name</label>
                <div class="col-sm-5">
                    <input class="form-control" view-element="sequence_step_name" name="label">
                </div>
            </div>

            <div class="form-group">
                <label for="valuename" class="col-sm-2 control-label">Value Name</label>
                <div class="col-sm-5">
                    <input class="form-control" view-element="sequence_value_name" name="valuename">
                </div>
            </div>

            <label>Use a database to generate a sequence:</label>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input view-element="sequence_database" type="checkbox"> Use a database to get the sequence.
                        </label>
                    </div>
                </div>
            </div>

            <label>Use a transformation counter to generate the sequence:</label>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input name="use_counter" view-element="sequence_counter" type="checkbox"> Use a counter to generate the sequence.
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="counter_name" class="col-sm-2 control-label">Counter Name (optional)</label>

                <div class="col-sm-5">
                    <input class="form-control" view-element="sequence_counter_name" name="counter_name">
                </div>
            </div>

            <div class="form-group">
                <label for="start_at" class="col-sm-2 control-label">Start Value</label>

                <div class="col-sm-5">
                    <input name="start_at" type="number" class="form-control" view-element="sequence_start_value">
                </div>
            </div>

            <div class="form-group">
                <label for="increment_by" class="col-sm-2 control-label">Increment</label>

                <div class="col-sm-5">
                    <input name="increment_by" type="number" class="form-control" view-element="sequence_increment">
                </div>
            </div>

            <div class="form-group">
                <label for="max_value" class="col-sm-2 control-label">Maximum Value</label>

                <div class="col-sm-5">
                    <input name="max_value" type="number" class="form-control" view-element="sequence_max_value">
                </div>
            </div>

        </form>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button view-click="controller.cancelClick()" type="submit" class="btn btn-default">Cancel</button>
        <button view-click="controller.submitClick()" type="submit" class="btn bg-navy margin pull-right">Submit</button>
    </div>
</div>