<form class="form-horizontal">
    <div class="box-body">

        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Transformation</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="form-group">
                        <label for="trans_settings_name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_file" class="col-sm-2 control-label">File</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_file">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_description" class="col-sm-2 control-label">Description</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_description">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_status" class="col-sm-2 control-label">Status</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_status">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_version" class="col-sm-2 control-label">Version</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_version">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_directory" class="col-sm-2 control-label">Directory</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_directory">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_creator" class="col-sm-2 control-label">Creator</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_creator">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_date" class="col-sm-2 control-label">Creation Date</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_date">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_modified_user" class="col-sm-2 control-label">Recently Modified User</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_modified_user">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="trans_settings_modified_date" class="col-sm-2 control-label">Recently Modified Date</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="trans_settings_modified_date">
                        </div>
                    </div>

                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button id="trans_settings_cancel" type="submit" class="btn btn-default">Cancel</button>
        <button id="trans_settings_submit" type="submit" class="btn bg-navy margin pull-right">Submit</button>
    </div>
    <!-- /.box-footer -->
</form>