<section class="content-header">
    <h1>&nbsp;</h1>
    <ol view-element="breadcrumb" class="breadcrumb">

		<li id="lastChild" style="font-size: 12px; color: #444; float:right"><a view-click="controller.goHome()"><i class="fa fa-hospital-o"></i> Institutions</a></li>
	</ol>

</section>
