<div class="draggable-container">
    <div class="draggable-component-helper"
         style="background:#ecf0f5 url('/middle/{{shortName}}.svg') center no-repeat">
        <!-- style="width:40px;height:40px;border:1px solid black;border-radius:3px;background-color:#eee;
        background:url(\'/middle/Checksum.svg\') -->
    </div>
    <p>{{name}}</p>

    <div id="graphComponent" style="display: none;">
        <Step component="{{shortName}}" label="{{name}}"/>
    </div>
</div>