<ul class="nav navbar-nav" >
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Transformation<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a view-click="controller.createTask();">New Transformation</a></li>
            <li><a>Open Transformation</a></li>
            <li><a view-click="importXml();">Import As XML</a></li>
            <li class="divider"></li>
            <li><a>Save Transformation</a></li>
            <li><a>Save Transformation As...</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Edit Pipeline<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a onclick="document.getElementById('cut').click();">Cut</a></li>
            <li><a onclick="document.getElementById('copy').click();">Copy</a></li>
            <li><a onclick="document.getElementById('paste').click();">Paste</a></li>
            <li><a onclick="document.getElementById('delete').click();">Delete</a></li>
            <li class="divider"></li>
            <li><a onclick="document.getElementById('undo').click();">Undo</a></li>
            <li><a onclick="document.getElementById('redo').click();">Redo</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Select Nodes<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a onclick="document.getElementById('all').click();">All</a></li>
            <li><a onclick="document.getElementById('none').click();">None</a></li>
            <li class="divider"></li>
            <li><a onclick="document.getElementById('vertices').click();">Vertices</a></li>
            <li><a onclick="document.getElementById('edges').click();">Edges</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" view-click="view.getSteps();">Edit Steps<span class="caret"></span></a>
        <ul view-element="steps" class="dropdown-menu" role="menu">
            <!-- getSteps() will had the existent steps -->
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Run<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a view-click="controller.runTransformation(1);">Local Execution</a></li>
            <li><a>Remote Execution</a></li>
            <li><a>Cluster Mode Execution</a></li>
            <li class="divider"></li>
            <li><a view-click="controller.showRunOptions();">Run Options...</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" view-click="view.getExecutions();" data-toggle="dropdown">Preview Results<span class="caret"></span></a>
        <ul class="dropdown-menu" view-element="executions" role="menu">
            <!-- getExecutions() will had the existent transformations under execution. -->
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" view-click="view.getTransformations();" data-toggle="dropdown">History<span class="caret"></span></a>
        <ul class="dropdown-menu" view-element="history" role="menu">
            <!-- getTransformations() will had the existent transformations. -->
        </ul>
    </li>

    <li>
        <a onclick="document.getElementById('print').click();">Print</a>
    </li>
</ul>

<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span view-element="notification_counter" class="label label-warning">0</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <!-- inner menu: contains the actual data -->
                    <ul view-element="notification_list" class="menu">

                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>