<div class="login-box">
    <table class="login-table">
        <tr>
            <td>
                <div class="row">
                    <div class="login-box">
                        <div class="login-box-body">
                            <div class="login-logo">
                                <img src="assets/images/logo/logo_bi_center.png" alt="" style="height:70%;width:70%;">
                            </div>

                            <p class="login-box-msg">Sign in to start your session</p>

                            <form view-submit="view.submitForm()" id="form-login">
                                <div class="form-group has-feedback">
                                    <input type="text" name="username" class="form-control" placeholder="User name">
                                    <span class="fa fa-envelope form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                    <span class="fa fa-lock form-control-feedback"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4 text-center">
                                        <button type="submit" class="btn bg-wet-asphalt btn-block btn-flat"><b>Sign In</b></button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </td>
        </tr>
    </table>
</div>