<div class="box box-default">
    <div class="box-header with-border">
        <h3 view-element="preview_title" class="box-title"></h3>
    </div>

    <div class="box-body">
        <form class="form-horizontal">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Log</a></li>
                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Step Measures</a></li>
                    <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Preview Data</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <textarea view-element="preview_log" class="form-control" rows="20" placeholder="Enter ..."></textarea>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <table class="table table-bordered">
                            <tbody view-element="preview_steps_measures">

                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div view-element="preview_graph">
                            <!-- Graph here -->
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </form>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button view-click="controller.cancelClick()" type="submit" class="btn btn-default">Cancel</button>
        <button view-click="controller.cancelClick()" type="submit" class="btn bg-navy margin pull-right">Ok</button>
    </div>
    <!-- /.box-footer -->
</div>