<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Core Objects</li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Input</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Generate Rows','RowGenerator');"><i class="fa fa-file-text-o"></i> Generate Rows</a>
            </li>
            <li>
                <a onmousedown="addDragContent('Table Input','TableInput');"><i class="fa fa-table"></i> Table Input</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Output</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Table Output','TableOutput');"><i class="fa fa-table"></i> Table Output</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Transform</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Add Checksum','Checksum');"><i class="fa fa-file-zip-o"></i> Add Checksum</a>
            </li>
            <li>
                <a onmousedown="addDragContent('Add Sequence','Sequence');"><i class="fa fa-file-zip-o"></i> Add sequence</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Flow</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Filter Rows','FilterRows');"><i class="fa fa-exchange"></i> Filter Rows</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Lookup</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Joins</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Statistics</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Scripting</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Execute SQL script','ExecSQL');"><i class="fa fa-hand-o-right"></i> Execute SQL script</a>
            </li>
        </ul>
    </li>
</ul>
<script>
    var drag_content = {};
    function addDragContent(label,ctype){
        drag_content['label'] = label;
        drag_content['ctype'] = ctype;
        $("[title='"+label+"']")[0].click();
    }
</script>