<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Core Objects</li>
    <li class="treeview menu-open">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Input</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onmousedown="addDragContent('Generate Rows','RowGenerator');"><i class="fa fa-file-text-o"></i> Generate Rows</a>
            </li>
            <li>
                <a href="#" onmousedown="addDragContent('Json Input','JsonInput');"><i class="fa fa-file-code-o"></i> Json Input</a>
            </li>
            <li>
                <a href="#" onmousedown="addDragContent('Table Input','TableInput');"><i class="fa fa-table"></i> Table Input</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Output</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onmousedown="addDragContent('Insert/Update','InsertUpdate');"><i class="fa fa-refresh"></i> Insert/Update</a>
            </li>
            <li>
                <a href="#" onmousedown="addDragContent('SQL File Output','SQLFileOutput');"><i class="fa fa-file-text-o"></i> Sql File Output</a>
            </li>
            <li>
                <a href="#" onmousedown="addDragContent('Table Output','TableOutput');"><i class="fa fa-table"></i> Table Output</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Transform</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onmousedown="addDragContent('Add checksum','Checksum');"><i class="fa fa-file-zip-o"></i> Add Checksum</a>
            </li>
            <li>
                <a href="#" onmousedown="addDragContent('Select Values','SelectValues');"><i class="fa fa-hand-o-right"></i> Select Values</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Utility</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onmousedown="addDragContent('Mail','Mail');" ><i class="fa fa-envelope-o"></i> Mail</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Flow</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onmousedown="addDragContent('Dummy (do nothing)','Dummy');"><i class="fa fa-anchor"></i> Dummy</a>
            </li>
            <li>
                <a href="#" onmousedown="addDragContent('Switch/Case','SwitchCase');"><i class="fa fa-exchange"></i> Switch/Case</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Scripting</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onmousedown="addDragContent('Execute SQL script','ExecSQL');"><i class="fa fa-hand-o-right"></i> Execute SQL script</a>
            </li>
        </ul>
    </li>
</ul>
<script>
    var drag_content = {};
    function addDragContent(label,ctype){
        drag_content['label'] = label;
        drag_content['ctype'] = ctype;
        $("[title='"+label+"']")[0].click();
    }
</script>